<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HealthCare.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
				<key>dateExpires</key>
				<string>4/20/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FloatRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UIActivityIndicator_for_SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61738A489496F22ABC086DC0A26C3B5710D1FEA1</string>
						<key>dateExpires</key>
						<string>4/20/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2PV4857K82.com.healthcareuser.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2PV4857K82</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2PV4857K82.com.healthcareuser.com</string>
				</array>
			</dict>
			<key>name</key>
			<string>HealthCareUser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86148203-5c1b-48a4-9e36-45824299679a</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2PV4857K82</string>
				<key>name</key>
				<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
